body {
    margin: 0;
    padding: 0;
}

html,
body,
pre,
code,
kbd,
samp {
    font-family: "font-family you want to use";
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: rgba(39, 35, 67, 0.07);
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #272343;
}

::-webkit-scrollbar-track {
    display: none;
}

::selection {
    background: #ffe89e;
}